main {
    padding: 50px;
    display: flex;
    flex-flow: column nowrap;
    gap: 50px;
    min-width: 320px;  width:100%;

    /* 공통 */
    /* 타이틀 */
    .title {
        h1 {
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: 20px;
        }
    }

    /* 카드 */
    .contents {
        display: flex; justify-content: space-between;
        .card {
            width: 200px;
            display: flex;
            flex-flow: column;
            gap: 10px;

            .thumbnail {
                img {
                    width: 100%
                }
            }

            .info {
                display: flex;
                flex-flow: column;
                gap: 10px;

                .brand {
                    display: flex;
                    justify-content: space-between;

                    h1 {
                        font-weight: 500;
                    }
                    button {
                        width:18px ; 
                        img {width:100%}
                    }
                }

                .name {
                    color: #999;white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;  
                }

                .product {
                    font-size: 1.125rem;
                    font-weight: 600;

                    em {
                        color: #FF4600;
                        font-weight: 600;
                        margin-right: 5px;
                    }
                }
            }
        }
    }

    /* 브랜드 */
    #brands20 {
        width:1320px;
        margin:0 auto;
        .wrap {
            display: flex;
            gap: 50px;
            flex-flow: row nowrap;
            
            .left_thumb {
                width:50%;
                position: relative;
                a {
                    img {width:100%;height: 100%;object-fit: cover;
                    }
                }

                button {
                    position:absolute;
                    width: 35px; height:35px; top:15px; right:15px;
                    display: block; background: #757575;border-radius: 20px;
                    img {
                        width:20px; position: absolute; top:9px; right:7px;

                    }

                }
            }

            .right_brands {
                width:50%;
                display: flex; flex-flow: column; justify-content: space-between; gap:150px;
                .title {
                    h2 {
                        font-size: 3rem;
                        font-weight: 600;
                        margin-bottom: 15px;
                    }
                    p {
                        font-size: 1rem;
                        color: #aaa
                    }
                }

            }

        }
    }

        #custom {
        width:1320px;
        margin:0 auto;
        position: relative;
        .more_btn {
            position:absolute; right:0 ;top: 25px; font-size: 0.875rem;
            color: #aaa;
        }
        }

    }


@media (max-width:767px){
    main {
        overflow: hidden;
        #brands20 {
            .wrap{
                gap:10px; 
                flex-flow: column nowrap; 
                .right_brands {
                    gap:20px;
                    .title{
                        h2{font-size:1.125rem; margin-bottom: 5px;}
                        p {font-size:0.875rem;}
                    }
                }
            }
        }
    }
}